# in case someone forgets to do a make clean
*.log
*.aux
*.out

# gvim on windows makes backup files
*~

# vim buffer files
*.swp
*.swo

# ignore pycache folder and all files within
__pycache__
src/pythonvers/test.vertices
src/pythonvers/out.txt

# object files
*.o

# main executable
main
